<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    {% if form %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    {% endif %}
{% endblock %}

{% block result %}
    {% if result %}
        <h3>Results</h3>
        {% for i in result %}
            <li>{{ forloop.counter }}. {{ i }}</li>
        {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>